
/*=====================================
Main Page Layout
======================================*/
.wl-page {    
    margin:auto;
    width: 1200px;
}
@media only screen and (max-width: 1200px),
only screen and (max-device-width: 1200px){
    .wl-page {
        margin: auto;
        width: 900px;
    }
}
.wl-main {
    width: 80%;
    float: left;   
}

.wl-aside {
    margin-right: 10px;
    width: 19.1666%;
    min-width: 160px;
    max-width: 230px;
    float: left;
}

@media only screen and (max-width: 1200px),
only screen and (max-device-width: 1200px){
      .wl-aside {
        width: 17.7778%; /* 160px / 900 = 17.7778% */
    }
}


/*=====================================
Clearfix / Reusable styles
======================================*/
.wl-cf {
    overflow: hidden;
}

/*============================
Border Images
=============================*/

.wl-light-grey-border {
    border: 1px solid transparent;
    -webkit-border-image: url(../img/border-50.png)5 5 5 5 repeat stretch;
    -moz-border-image: url(../img/border-50.png)5 5 5 5 repeat stretch;
    border-image: url(../img/border-50.png)5 5 5 5 repeat stretch;    
}

/*============================
Header
============================*/

.wl-header {
    text-align: center;
    background: #eee;
}

.wl-header .placeholder {
    margin-top: 0;
    font-size: 3em;
    font-family: Georgia;
}
/*============================
Thumbnail Grid
============================*/
.wl-item-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wl-item-list .wl-item {
    position: relative;
    margin-top: 10px;
    margin-right: 4px;
    width: 24.58333%; /* Image (236px) / container (960px). */
    float: left;
}

/*============================
Thumbnail Grid - Resize to 900px layout
============================*/
@media only screen and (max-width: 1200px),
only screen and (max-device-width: 1200px){
    .wl-item-list .wl-item {
        width: 32.7778%; /* Image (236px) / new container (720px). */
    }

}

/*============================
Thumbnails
============================*/

.wl-item .description {
    margin: 0;
    padding: 2px;
    font-family: Georgia;
    font-size: 0.8em; /* Needs to be font size 13 */
    color: #3e3e3e;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
}


.wl-item .price {
    margin: 0;   
    padding: 1px;
    font-size: 0.8em; /* needs to also be 13 */
    font-family: Lato;
    color: #7e7e7e;
    font-weight: 100;
    text-decoration: none;
}

.wl-thumbnail {
    display: block;
    width: 236px;
    height: 314px;
}

.wl-thumbnail-container {
     position: relative;
     width: 236px;
}

/*============================
Thumbnails Swatches
============================*/

.wl-item .swatch-list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

}

.wl-item .text {
    position: absolute;
    top: 6px;
    padding-left: 4px;
    font-size: 0.535em;
    color: #fe239b;
}

.wl-item .swatch {
    display: inline-block;
    margin: 2px 2px 0 0;
    width: 20px;
    height: 20px;
    float: left;
    background-image: url(../img/sprite_sheet.png);
    opacity: 0.5;
}

.wl-item .swatch:hover {
    opacity: 1;
}

.wl-item .swatch--pink{
    background-position: 0px -40px;
}

.wl-item .swatch--blue {
    background-position: -40px -40px;
}

.wl-item .swatch--orange {
    background-position: -80px -40px;
}

.wl-item .swatch--green {
    background-position: -120px -40px;
}


/*============================
Thumbnail Hovering Icons
============================*/

.wl-thumbnail-container .ico {
    position: absolute;
    background-image: url(../img/sprite_sheet.png);
}

.wl-thumbnail-container:hover .wl-mglass {
    width: 26px;
    height: 26px;
    right: 4px;
    bottom: 6px;
    background-position: 0px 0px;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.wl-thumbnail-container .wl-mglass:hover {
    width: 26px;
    height: 26px;
    background-position: -40px 0px;
}


.wl-thumbnail-container:hover .wl-vicon {
    width: 24px;
    height: 24px;
    top: 6px;
    left: 4px;
    background-position: -80px 0px;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.wl-thumbnail-container .wl-vicon:hover {
    width: 24px;
    height: 24px;
    background-position: -120px 0px;
}

.wl-item .overlay {
    width: 34px;
    height: 32px;
    background-position: -80px -80px;
    top: 1px;
    right: 1px;
    cursor:pointer;
}

/*============================
Aside Newsletter Signup
=============================*/

.wl-aside-signup {
    position: relative;
    margin-top: 6px;
    padding: 1em 1.1em;
    border-width: 2px;    
    -webkit-border-image:url(../img/border-pink.png) 5 5 5 5 repeat stretch;
    -moz-border-image:url(../img/border-pink.png) 5 5 5 5 repeat stretch;
    border-image:url(../img/border-pink.png) 5 5 5 5 repeat stretch;
    text-align: center;
}

.wl-aside-signup .form-title {
    display: block;
    margin-bottom: 5px;
    font-size: 0.75em;
    font-family: Georgia, "Sans-Serif";
    font-style: italic;
    color: #fe239b;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.wl-aside-signup .form-desc {
    margin-bottom: 15px;
    display: block;
    font-size: 0.7em;
    font-family: Lato, Georgia, "Sans-Serif";
    color: #383838;
    text-transform: lowercase;
    letter-spacing: 1px;
}

.wl-aside-signup .text-field {
    box-sizing: border-box;
    padding: 0.6em 1em;
    margin-bottom: 10px;
    width: 100%;
    font-size: 0.75em;
    font-family: Georgia;
    font-style: italic;
    letter-spacing: 1px;
    border: 1px solid transparent;
    -webkit-border-image: url(../img/border-50.png) 5 5 5 5 repeat stretch;
    -moz-border-image: url(../img/border-50.png) 5 5 5 5 repeat stretch;
    border-image: url(../img/border-50.png) 5 5 5 5 repeat stretch;
}

/*============================
Newsletter Signup - Resize font for text-field for 900px layout
============================*/

@media only screen and (max-width: 1200px),
only screen and (max-device-width: 1200px){
    .wl-aside-signup .text-field {
        font-size: 0.5em;
    }
}
/*============================
Aside Newsletter Signup - Sign Up Button
=============================*/

.wl-aside-signup .wl-text-button {
    margin-bottom: 5px;
    padding: 0;
    background: none;
    border-width: 1px;
    -webkit-border-image: url(../img/border-pink.png) 25 5 5 5 repeat;
    -moz-border-image: url(../img/border-pink.png) 25 5 5 5 repeat;
    border-image: url(../img/border-pink.png) 25 5 5 5 repeat;

}

.wl-aside-signup .wl-text-button .button-text {
    display: block;
    padding: 1em 2em;
    font-size: 0.6em;
    color: #FFF;
    letter-spacing: 1px;
    background: #ff008a;
}

.wl-aside-signup .sprite:before {
    content: "";
    position: absolute;
    width: 52px;
    height: 30px;
    left: -17px;
    background: url(../img/sprite_sheet.png);
    background-position: 0px -120px;
}

/*============================
Browse Refinements
=============================*/

.wl-refinement {
    position: relative;
    margin-top: 18px;
}


.wl-refinement:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    background-image: url(../img/border-50.png);
    opacity: 0.3;
}

/*============================
Browse Refinements - Drop down buttons
=============================*/

.wl-refinement .wl-select {
    margin-right: 5px;
    padding: 0.5em 2em 0.5em 1.5em;
    width: 150px;
    float: left;
    font-size: 0.7em;
    font-family: Georgia;
    color: #5E5E5E;
    font-weight: bold;
    font-style: italic;
    line-height: 1.2;
    -webkit-appearance: none;
    border-radius: 0px;
    background-image:url(../img/arrow_down.png);
    background-repeat:no-repeat;
    background-position:right center;
    background-position: 95%;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9;
}

.wl-refinement .container {
    position: relative;
    background: white;
    z-index: 2;
}

.wl-refinement .container--left {
    float: left;
}

.wl-refinement .container--right {
    float: right;
    line-height: 28px;
}

/*============================
Browse Refinements - Styles text
=============================*/

.wl-refinement .styles {
    font-size: 0.8em;
    font-family: Georgia, "Sans-Serif";
    font-style: italic;
    color: #a1a1a1;
    letter-spacing: 1px;
}

.wl-submit-button {
    display: none;
}

.no-js .wl-submit-button {
    display: inline;
}

/*============================
WL Navigation
=============================*/
.wl-navigation {
    margin: auto;
    text-align: center;
}

.wl-navigation .menu {
    padding: 1em 0 1em 0;
    font-size: 0.6em;
    font-family: Lato;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
}

.wl-navigation .wl-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wl-navigation .list-item-link {
    display: block;
    padding: 0.845em 0 0.845em 2em;
    color: #7e7e7e;
    text-decoration: none;
    border-right: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
}


.wl-navigation .list-item-link:hover {
    color: #000000;
    background: #f7f7f7;
}


/*============================
WL Navigation - Bullets and indentation
=============================*/

.js .wl-navigation .sub-menu {
    display: none;
}

.js .wl-navigation .is-active {
    color: #eb5190;
}

.js .wl-navigation .is-expanded {
    display: block;
}

.wl-navigation .sub-menu-link:after {
    content:"";
    background-image:url(../img/arrow_down.png);
    margin-left: 7px;   
    width: 14px;
    height: 10px;
    position: absolute;
}

.wl-navigation .is-active:after {
    content:"";
    background-image:url(../img/active_down_arrow.png);
    margin-left: 7px;   
    width: 14px;
    height: 10px;
    position: absolute;
}

.wl-navigation .sub-menu .list-item-link {
    padding-left: 3em;
}

.wl-navigation .sub-menu .sub-menu .list-item-link {
    padding-left: 4em;
}


/*============================
Aside Titles
=============================*/

.aside-title {
    display: inline-block;
    position: relative;
    padding: 0 0.45em;
    top: 9px;
    font-size: 0.9em;
    font-family: Georgia;
    font-style: italic;
    color: #7e7e7e;
    text-transform: capitalize;
    letter-spacing: 1px;
    background: #FFF;
}

/*============================
Aside - Promotional Carousel
=============================*/
.wl-swipe {
    margin-top: 14px;
    text-align: center;
}

.wl-swipe .swipe {
    position: relative;
    padding: 20px 0 28px 0;
    visibility: hidden;
}
.wl-swipe .swipe-wrap {
    position: relative;

}
.wl-swipe .slide {
    position: relative;
    width:100%;
    float:left;
}

.wl-swipe .slide-image {
    display: block;
}

.wl-swipe .indicators {
    line-height: 1;
}

.wl-swipe .position-indicator {
    text-decoration: none;
    color: #c4c4c4;
    font-size: 1.4em;
    letter-spacing: -2px;
}

.wl-swipe .on {
    color: #ff008a;
}

/*============================
Trends Creative TBD
=============================*/

.wl-tbd {
    margin-top: 30px;
    height: 300px;
    text-align: center;
    background: #eeeeee;
}
