
/*=====================================
Main Page Layout
======================================*/
.wl-main {
    margin: auto;
    max-width: 968px;
    border: 5px solid black;
}

.wl-cf {
    overflow: hidden;
}

.wl-aside {
    margin: 100px auto;
}

body {
    font-size: 1.2em;
}


/*============================
Ticket #WLPROD-65 Grid
============================*/
.wl-item-list {
    list-style: none;
    margin: 0;
    padding: 0;
}


.wl-item-list .wl-item {
     display: inline-block;
     margin: 0.5% 0.5% 10px 0.5%;
     width: 24%;
     float: left;
     vertical-align: top;
}

@media only screen and (max-width : 720px),
only screen and (max-device-width : 720px){
    .wl-item-list .wl-item {
        width: 31.833%;
        -webkit-transition: linear .2s;
        transition: linear .2s;
        margin: 0 4px 0 4px;
         }  /*also 3 colummns*/
   
}
 
@media only screen and (max-width : 530px),
only screen and (max-device-width : 530px){
    .wl-item-list .wl-item {
        width: 47.75%;
        -webkit-transition: linear .2s;
        transition: linear .2s;
        } /* 2column layout */
}
 
@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
    .wl-grid .wl-item {
        width: 96%;
        -webkit-transition: linear .2s;
        transition: linear .2s;
    }
}


/*============================
Header Holder
============================*/

.wl-header {
    margin-bottom: 50px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 3em;
    background: #555;
    color: white;
}

@media only screen and (max-width: 530px),
only screen and (max-device-width: 530px){
    .wl-header {
        font-size: 2em;
    }
}


/*============================
Ticket #WLPROD-66 Product Thumbnail
============================*/

.wl-item .description, .price{
    margin: 2px 0 0 0;
    padding: 0;
    font-family: Lato;
    font-size: 0.75em;
    color: #5E5E5E;
    letter-spacing: 1px;
    font-weight: 100;
}

.wl-thumbnail-container {
     position: relative;

}

.wl-thumbnail {
    display: block;
     height: 100%;
     width: 100%; 
}

.swatch_list {
    list-style: none;
    margin: 0;
    padding: 0;

}

.swatch_list .text {
    font-size: 0.5em;
    color: #fe239b;
    line-height: 20px;
}

.swatch {
    display: inline-block;
    margin: 2px 3px 0 0;
    height: 20px;
    width: 20px;
    opacity: 0.5;
    float: left;
}

.swatch:hover {
    opacity: 1;
}

.pink_swatch {
    background-image: url(../img/pink_swatch.png);
}

.blue_swatch {
    background-image: url(../img/blue_swatch.png);
}

.orange_swatch {
    background-image: url(../img/orange_swatch.png);
}

.green_swatch {
    background-image: url(../img/green_swatch.png);
}

/*============================
Thumbnail Hovering Icons
============================*/

.wl-thumbnail-container:hover .wl-mglass {
    position: absolute;
    -webkit-transition: opacity 0.2s; 
    height: 26px;
    width: 26px;
    right: 4px;
    bottom: 6px;
    background-image: url(../img/mag_glass.png)
}

.wl-thumbnail-container .wl-mglass:hover {
    background-image: url(../img/mag_glass_hover.png);
    height: 26px;
    width: 26px;
}


.wl-thumbnail-container:hover .wl-vicon {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 4px;
    top: 6px;
    background-image: url(../img/video_icon.png);
    -webkit-transition: opacity 0.2s;
}

.wl-thumbnail-container .wl-vicon:hover {
    background-image: url(../img/video_icon_hover.png);
}


/*============================
Ticket #WLPROD-64 Aside Newsletter Signup
=============================*/

.wl-aside-signup-container {
    max-width: 230px;
}

.wl-aside-signup {
    position: relative;
    border: 2px;
    -webkit-border-image:url(../img/border-pink.png) 5 5 5 5 repeat stretch;
    -moz-border-image: url(../img/border-pink.png) 5 5 5 5 repeat stretch;
    border-image:url(../img/border-pink.png) 5 5 5 5 repeat stretch;
    text-align: center;
    font-family: Lato Regular, Georgia, "Sans-Serif";
}

.wl-aside-signup .form-first-line {
    margin: 1.4em 0 0 0 ;
    padding: 0;
    font-size: 0.65em;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 0.9em;
    font-style: italic;
    color: #fe239b;
    letter-spacing: 0.1em;
}

.wl-aside-signup .form-second-line {
    margin: 0.6em 0 0 0;
    padding: 0;
    font-size: 0.55em;
    font-weight: 100;
    text-transform: lowercase;
    line-height: 0.9em;
    letter-spacing: 0.1em;
    color: #666666;
    font-family: Helvetica;
}

.wl-aside-signup .text-field {
    height: 2.1em;
    width: 78%;
    margin: 1.6em 0 0 0;
    padding: 0 0 0 1em;
    font-size: 0.65em;
    font-weight: 100;
    font-style: italic;
    font-family: Lato;
    letter-spacing: 0.1em;
    border: 1px solid;
    -webkit-border-image: url(../img/border-50.png) 5 5 5 5 repeat stretch;
    -moz-border-image: url(../img/border-50.png) 5 5 5 5 repeat stretch;
    border-image: url(../img/border-50.png) 5 5 5 5 repeat stretch;
}

.wl-aside-signup .wl-text-button {
     width: 35%;
     height: 3.2em;
     margin: 1em 0 2em 0;
     font-size: 0.50em;
     font-weight: 100;
     color: white;
     border: 2px solid transparent;
     background: #ff008a;
     -webkit-border-image: url(../img/border-pink.png) 25 5 5 5 repeat;
     -moz-border-image: url(../img/border-pink.png) 25 5 5 5 repeat;
     border-image: url(../img/border-pink.png) 25 5 5 5 repeat;

}

.wl-aside-signup .sprite:before {
    content: url(../img/sprite_bird.png);
    position: absolute;
    left: -25px;
    bottom: 5px;
}

/*============================
Ticket #WLPROD-67 Browse Refinements
=============================*/

.wl-refinement {
    position: relative;
    overflow: hidden;
}

.wl-aside-browse-refinement-container {
    max-width: 957px;
}

.wl-refinement:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 48%;
    background-image: url(../img/border-50.png);
    z-index: 1;
    opacity: 0.3;
}

.wl-refinement .container {
    position: relative;
    background: white;
    z-index: 2;
}

.wl-refinement .wl-select {
    margin-bottom: 1px;
    padding: .5em 2em .5em 1.5em; 
    width: 150px;
    font-family: Georgia;
    font-size: .55em;
    font-weight: bold;
    font-style: italic;
    color: #5E5E5E;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-image:url(../img/arrow.png);
    background-repeat:no-repeat;
    background-position:right center;
    opacity: 0.9;
}

.wl-refinement .container--left {
    float: left;
}

.wl-refinement .container--right {
    position: relative;
    float: right;
    line-height: 26px;
    vertical-align: middle;
}

.wl-submit-button {
    display: none;
}

.no-js .wl-submit-button {
    display: inline;
}

.wl-refinement .text {
    font-size: 0.6em;
    font-family: Georgia, "Sans-Serif";
    font-style: italic;
    color: #a1a1a1;
    letter-spacing: 1px;
}

/*============================
Border Images
=============================*/

.light-grey-border {
    border: 1px solid transparent;
    border-image: url(../img/border-50.png)5 5 5 5 repeat stretch;    
}



/*============================
WL Navigation - border with the name in the center
=============================*/
.wl-navigation {
    margin: auto;
    display: block;
    width: 230px;
    text-align: center;
}


.wl-navigation .title {
    display: inline-block;
    position: relative;
    padding: 0 0.45em;
    top: 9px;
    background: white;
    font-style: italic;
    font-size: 0.75em;
    font-family: Georgia;
}

.wl-navigation .menu {
    text-align: left;
    text-transform: uppercase;
    font-size: 0.5em;
    font-family: Lato;
    letter-spacing: 0.1825em;
    padding: 1em;
}


.wl-navigation .wl-list-items {
    list-style: none;
    padding: 0;
    margin: 0 0 0 1em;
}

.wl-navigation .list-item {
    text-decoration: none;
    display: block;
    padding: 0.845em 0 0.845em 0;
    color: #7e7e7e;
}


.wl-navigation .list-item:hover {
    background: #f7f7f7;
    color: #000000;
}
/*============================
Removes bullets and indents sublist
=============================*/


.wl-navigation .sub-menu {
    margin-left: 1em;
}

.js .wl-navigation .is-inactive {
    display: none;
}

.js .wl-navigation .is-active {
    color: #eb5190;
}

